.topdiv {
    height: 25px;

    background: rgb(199, 199, 199);
    border: .25px black;
    font-weight: 600;

}

.navbar-bg {
    background: #3b5998;
}

.logo-img {
    height: 150px;
    width: 200px;
}


.tag-line {
    font-size: larger;
}

.fixed-background {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc(100% - 56px);
    background-image: url('Blue\ Simple\ Medicine\ Poster.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;

}

/* footer */
.botom-footer {
    background: white;
    height: 200px;
}

.link {
    margin-right: 20px;
    /* Adjust the margin as needed to create space between the links */
}